body {
    background-image: url('/static/img/slide01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#miNavbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 20px;
    transition: top 0.3s ease-in-out;
}

#table{
padding-top: 80px;
}

.logincontainer{
    height:600px;
}

.alert-container{
    padding-top: 10px;
}

.button-container{
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    display:inline-block;
}
