{%extends 'layout.html'%}
{%block content%}
<!-- Table-->
<div id="table" class ="childContainer">
  <div class="container-md p-5">
    <div class="row">
      <div class="col-sm">
        <div class="card w-100 card-border mb-5">
          <table class="table">
            <thead class="thead-dark">
              <!-- navbar-->
              <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                  <a class="navbar-brand">Tabla Administrador</a>
                  <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <span class="navbar-text" style="padding-left:1%">
                    </span>

                    <span class="navbar-text" style="padding-left:1%; padding-right:1% ">
                      <a class="btn btn-primary" href="#" role="button" data-toggle="modal" data-target="#addBookModal">Agregar</a>
                    </span>
                    </form>
                </div>
              </nav>
  
   <!----Nodal Nuevo Admin------>
  
   <div class="modal fade" id="addAdminModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Nuevo Adminitrador</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Correo</label>
              <input class="form-control" type="text" placeholder="Correo electronico" aria-label="default input example">
              <div id="emailHelp" class="form-text">Aqui escribe el correo electronico</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Password</label>
              <input class="form-control" type="text" placeholder="Password" aria-label="default input example">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Role</label>
              <input class="form-control" type="text" placeholder="Role" aria-label="default input example">
            </div>
          </form>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button id="addAdmin" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  
  <!----Fin nodal Nuevo Admin------>

   <!----Nodal Editar------>

   <div class="modal fade" id="EditAdminModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Editar Administrador</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Nuevo Correo</label>
              <input class="form-control" id="newTitle" type="text" placeholder="Nombre del libro" aria-label="default input example">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Nueva Password</label>
              <input class="form-control" id="newAuthor" type="text" placeholder="Nombre del autor" aria-label="default input example">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Nuevo Rol</label>
              <input class="form-control" id="newCant" type="number" placeholder="Cantidad de libros" aria-label="default input example">
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" id="saveChangesAdmin" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>

<!----Fin de Nodal Editar------>

<!----Nodal Eliminar------>

<div class="modal fade" id="DeleteAdminModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Eliminar Administrador</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <div class="mb-3">
            <div id="emailHelp" class="form-text">¿Estas seguro que deseas Eliminar?</div>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" id="DeleteAdmin" class="btn btn-primary">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<!----Fin de Nodal Eliminar------>

              <tr>
                <th scope="col">ID Administrador</th>
                <th scope="col">Correo</th>
                <th scope="col">Password</th>
                <th scope="col">Role</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody >

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- fin Table-->
{%endblock%}
