{%extends 'layout.html'%}
{%block content%}
<!-- Table-->
<div id="table" class ="childContainer">
  <div class="container-md p-5">
    <div class="row">
      <div class="col-sm">
        <div class="card w-100 card-border mb-5">
          <table class="table">
            <thead class="thead-dark">
              <!-- navbar-->
              <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                  <a class="navbar-brand">Movimientos en el sistema</a>
                  <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    </span>
                  </form>
                    </form>
                  </div>
                </div>
              </nav>
              <!--fin navbar-->
              <tr>
                <th scope="col">ID del registro</th>
                <th scope="col">Resumen</th>
              </tr>
            </thead>
            <tbody id="logs">

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="{{url_for('static', filename='javascript/Logs.js')}}"></script>
<!-- fin Table-->
{%endblock%}
