{%extends 'layout.html'%}
{%block content%}
<!-- Table-->
<div id="table" class ="childContainer">
  <div class="container-md p-5">
    <div class="row">
      <div class="col-sm">
        <div class="card w-100 card-border mb-5">
          <table class="table">
            <thead class="thead-dark">
              <!-- navbar-->
              <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                  <a class="navbar-brand">Tabla libros</a>
                  <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <span class="navbar-text" style="padding-left:1%">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </span>
                    <span class="navbar-text" style="padding-left:1%; padding-right:1% ">
                      <a class="btn btn-primary" href="#" role="button">Agregar</a>
                    </span>
                  </form>
                    </form>
                  </div>
                </div>
              </nav>
              <!--fin navbar-->
              <tr>
                <th scope="col">book_id </th>
                <th scope="col">title </th>
                <th scope="col">author</th>
                <th scope="col">quantity</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- fin Table-->
{%endblock%}
