{%extends 'layout.html'%}
{%block content%}
<!-- Table-->
<div id="table" class ="childContainer">
  <div class="container-md p-5">
    <div class="row">
      <div class="col-sm">
        <div class="card w-100 card-border mb-5">
          <table class="table">
            <thead class="thead-dark">
              <!-- navbar-->
              <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                  <a class="navbar-brand">Tabla Clientes</a>
                  <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <span class="navbar-text" style="padding-left:1%">
                    </span>

                    <span class="navbar-text" style="padding-left:1%; padding-right:1% ">
                      <a class="btn btn-primary" href="#" role="button" data-toggle="modal" data-target="#addBookModal">Agregar</a>
                    </span>
                    </form>
                </div>
              </nav>
  
   <!----Nodal Nuevo Cliente------>
  
   <div class="modal fade" id="addBookModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Nuevo Cliente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Nombre</label>
              <input class="form-control" type="text" placeholder="Nombre del Cliente" aria-label="default input example">
              <div id="emailHelp" class="form-text">Aqui escribe el nombre del nuevo cliente</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Direccion</label>
              <input class="form-control" type="text" placeholder="Direccion" aria-label="default input example">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Telefono</label>
              <input class="form-control" type="text" placeholder="Telefono" aria-label="default input example">
            </div>
          </form>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button id="addBook" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  
  <!----Fin nodal Nuevo Clientes------>
              <tr>
                <th scope="col">ID Clientes</th>
                <th scope="col">Nombre</th>
                <th scope="col">Direccion</th>
                <th scope="col">Telefono</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody >

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- fin Table-->
{%endblock%}
