<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ISCBiblio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static',filename='style/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
      toastr.options = {
          closeButton: false,
          progressBar: true,
          positionClass: 'toast-bottom-center',
          timeOut: 5000
      };
    </script>

  {%block content%}
  <!--
    Aquí va el codigo que quieras poner
  -->
  {%endblock%}

    <!-- NAVBAR-->
    <nav id="miNavbar" class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">
              <img src="{{url_for('static',filename='img/logo.png')}}" alt="" width="50">
          </a>
        <a class="navbar-brand" href="/">ISCBiblio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a {%if request.path=="/Libros" %}class="nav-link active"{% else %}class="nav-link"{% endif %} aria-current="page" href="/Libros">Libros</a></li>
            <li class="nav-item">
              <a {%if request.path=="/Prestamos" %}class="nav-link active"{% else %}class="nav-link"{% endif %} href="/Prestamos">Préstamos</a></li>
            <li class="nav-item">
              <a {%if request.path=="/Lectores" %}class="nav-link active"{% else %}class="nav-link"{% endif %} href="/Lectores">Lectores</a></li>
            <li class="nav-item">
              <a {%if request.path=="/Auditorias" %}class="nav-link active"{% else %}class="nav-link"{% endif %} href="/Auditorias">Auditorías</a></li>
            {%if role == 'admin'%}
              <li class="nav-item">
                <a {%if request.path=="/Administrador" %}class="nav-link active"{% else %}class="nav-link"{% endif %} href="/Administrador">Administrador</a></li>
            {%endif%}
          </ul>
          <img src="/static/img/icono_usuario.png" alt="" width="35">
          <span class="navbar-text" style="padding-left:1%; padding-right:1%">
            {{user}}
          </span>
          <button class="btn btn-primary"><a class="nav-link" href="/logout">Log out</a></button>
        </div>
      </div>
    </nav>
      <!--FIN NAVBAR-->
  </body>
</html>
